* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
#menu {
    position:fixed;
    width: 250px;
    height: 100%;
    background-color:rgb(175, 171, 246);
    border-right: 4px solid grey;
    left: -254px;

}

#menu.active {
    left: 0px;
}
#menu ul li:first-child {
    text-align: center;
    color: rgb(248, 126, 126);
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
}
#menu ul li:not(:first-child) {
    width: 90%;
    margin-left: 10%;
    font-size: 1.1em;
    list-style: none;
    padding: 15px 10px;
}
#menu ul li a {
    color: cornflowerblue;
    text-decoration: none;
}
#menu ul li a:hover {
    color:fuchsia
}


#menu.cnopka {
    position: absolute;
    left: 270 px;
    top: 20 px;
    background: #5cacfb;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}

#menu.cnopka span{
    display: block;
    width: 25px;
    height: 4px;
    background-color: grey;
    margin: 4px;
}

#menu.cnopka:hover {background: #556270;}
#menu.cnopka:hover span {background: #fafafa;}

