header {
    display: grid;
    column-gap: 9px;
    row-gap: 9px;
    grid-template-columns: repeat(71, 20px);
    grid-template-rows: repeat(5, 20px);
}
#head {
    box-shadow: 0px 0px 0px 2px black;
    grid-column: 1/67;
    grid-row: 1/6;
    display: grid;
    column-gap: 4px;
    row-gap: 4px;
    grid-template-columns: repeat(71, 20px);
    grid-template-rows: repeat(5, 20px);
}
#head .logo {
    grid-column: 34/37;
    grid-row: 2/3;
}
div.discord {
    grid-column: 64/66;
    grid-row: 1/2;
}
div.vk {
    grid-column: 62/64;
    grid-row: 1/2;
}
div.telega {
    grid-column: 60/62;
    grid-row: 1/2;
}
main {
    background-color: rgb(240, 240, 240);
    display: grid;
    column-gap: 9px;
    row-gap: 9px;
    grid-template-columns: repeat(35, 50px);
    grid-template-rows: repeat(30, 50px);
}
div.logo {
    grid-column: 20/35;
    grid-row: 2/3;
}
div.menu {
    background-color: rgb(255, 255, 255);
    grid-column: 1/2;
    grid-row: 1/2;
}
div.content {

    grid-column: 1/33;
    grid-row: 1/30;
}
div.hi {
    grid-column: 15/35;
    grid-row: 2/3;
}
