header {
    display: grid;
    column-gap: 9px;
    row-gap: 9px;
    grid-template-columns: repeat(35, 50px);
    grid-template-rows: repeat(5, 20px);
}
#head {
    background-image: url(https://64.media.tumblr.com/0da4b337db83dc1d3484bbf3113de25e/tumblr_ofqc8qNHep1rzlq9xo1_1280.gifv);
    grid-column: 1/35;
    grid-row: 1/6;

    display: grid;
    column-gap: 4px;
    row-gap: 4px;
    grid-template-columns: repeat(10, 80px);
    grid-template-rows: repeat(5, 20px);
}
#head .logo {
    grid-column: 8/9;
    grid-row: 2/3;
}
main {
    display: grid;
    column-gap: 9px;
    row-gap: 9px;
    grid-template-columns: repeat(35, 50px);
    grid-template-rows: repeat(30, 50px);
}
div.logo {
    grid-column: 20/35;
    grid-row: 2/3;
}
div.menu {
    background-color: rgb(179, 174, 174);
    grid-column: 1/2;
    grid-row: 1/2;
}
div.content {
    background-color: rgb(241, 241, 241);
    grid-column: 1/33;
    grid-row: 1/30;
}
div.hi {
    grid-column: 15/35;
    grid-row: 2/3;
}
